<header>
    <div>
        <a routerLink="/"><small class="lead" style="color: white;">Student<strong
                    style="color: red">LIST</strong></small></a>
    </div>
    <div class="text-center">
        <div id="search-component">
            <i class="fa fa-search"></i>
            <input #searchBox id="search-box" placeholder="search here" (input)="search(searchBox.value)" />
        </div>
    </div>
    <div class="select">
        <a routerLink="/add" class="btn btn-success add">Add
            Student</a>
    </div>
</header>