header {
  background-color: #007580;
  color: white;
  width: 100%;
  padding:0 15px 0 15px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: medium;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items:baseline ;
  
}

a {
  text-decoration: none;
}
.align {
  margin-left: 12%;
}

header #search-box {
  border-radius: 10px;
  padding-left: 45px;
  position: relative;
  top: -25px;
}
input {
  padding: 0.5rem;
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;
  display: block;
}
button {
  margin-left: 5px;
  padding: 0;
}
.add {
  width: 100%;
  line-height: 25px;
  margin-left: 2px;
  margin-bottom: 0;
  margin-top: 20px;
  /* position: relative;
  top:5px; */
}
.select {
  display: flex;
}

.fa-search{
  position: relative;
  right: 100px;
  top:10px;
  color:grey;
  z-index: 1;
}

@media all and (max-width: 768px) {
  header {
    flex-flow: column nowrap;
    align-items: center;
  }
  button {
    display: block;
    margin: auto;
  }
  header #search-box {
    margin: auto;
    margin-top: 10px;
  }
  .align {
    margin: auto;
  }
  .add{
    position: relative;
    bottom: 25px;
  }
  .fa-search{
    position: relative;
    top:20px;
  }
}
