.grey {
    color: grey;
    font-size: medium;
  }
  
  .black {
    color: black;
    font-size: small;
  }
  a {
    text-decoration: none;
  }
  
  .table img{
    width: 50px;
    height: 30px;
  }
  
  .table img:hover{
    filter: brightness(200%) drop-shadow(0 0 0 rgb(28, 7, 223)); 
    width: 53px;
  }

  .loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  