.grey {
    color: grey;
    font-size: medium;
  }
  
  .black {
    color: black;
    font-size: small;
  }
  a {
    text-decoration: none;
  }
  
  .table img{
    width: 50px;
    height: 30px;
  }
  
  .table img:hover{
    filter: brightness(200%) drop-shadow(0 0 0 rgb(28, 7, 223)); 
    width: 53px;
  }
  