<div class="table-responsive m-5 mt-2 mb-0">
    <table class="table table-hover">
        <thead class="text-center m-auto" *ngIf="searchBox">
            <tr class="grey">
                <th scope="col">Roll-Number
                    <img src="../../assets/images/sort.png" title="click to sort" (click)="sortRoll()" />
                </th>
                <th scope="col">Reg-Number</th>
                <th scope="col">Name
                    <img src="../../assets/images/sort.png" title="click to sort" (click)="sortName()" />
                </th>
                <th scope="col">Dues</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody class="black text-center" *ngFor="let student of students$ | async">
            <tr>
                <td>{{student.roll}}</td>
                <td>{{student.reg}}</td>
                <td>{{student.name}}</td>
                <td>{{student.dues}}</td>
                <td><button routerLink="details/{{student.id}}" class="btn btn-secondary m-1"><i
                            class="fa fa-edit"></i></button>
                    <button class="btn btn-danger" (click)="deleteStudent(student)"><i
                            class="fa fa-trash-o"></i></button>
                </td>
            </tr>
    </table>
</div>
