<div class="edit-form mt-3">
    <div class="w-sm-50">
        <form [formGroup]="addStudent" (ngSubmit)="add(addStudent.value)">
            <div style="text-align: center;">
                <img src="../../assets/images/add.png" alt="add student" />
            </div>
            <div>
                <label>Roll-Number</label><br>
                <input type="number" placeholder="Enter roll number" formControlName="roll"
                    [ngClass]="display ? 'ng-invalid' : 'ng-valid'" />
                <div *ngIf="display" style="color: red;">
                    <span>Roll-number should be unique</span>
                </div>
                <div style="color: red;">
                    <span *ngIf="roll && roll.invalid && roll.touched && !display">Roll number is required</span>
                </div>
            </div>
            <div>
                <label>Reg-Number</label><br>
                <input type="number" placeholder="Enter reg-number" formControlName="reg" />
                <div style="color: red;">
                    <span *ngIf="reg && reg.invalid && reg.touched">Registration number is required</span>
                </div>
            </div>
            <div>
                <label>Name</label><br>
                <input type="text" placeholder="Enter name" formControlName="name" />
                <div style="color: red;">
                    <span *ngIf="name && name.invalid && name.touched">Name is required</span>
                </div>
            </div>
            <div>
                <label>Dues</label><br>
                <input type="number" placeholder="Enter dues" formControlName="dues" />
                <div style="color: red;">
                    <span *ngIf="dues && dues.invalid && dues.touched">Dues is required</span>
                </div>
            </div>
            <div>
                <button class="btn btn-success" [disabled]=" display || addStudent.invalid">Add</button>
            </div>
        </form>
    </div>
</div>