.edit-form {
  margin: auto;
  width: fit-content;
  border: 1px solid grey;
  position: relative;
  background-color: white;
  margin-bottom: 150px;
}

div {
  padding: 10px;
}

form img {
  width: 60px;
  height: 40px;
}

input:focus {
  outline: 0;
}

.ng-valid {
  border: 2px solid #42a948;
}

.ng-touched .ng-invalid:not(form) {
  border: 2px solid #a94442;
}
