.wrapper{
    text-align: center;
    background-color: white;
    width: 80%;
    margin: auto;
    padding: 50px;
    margin-top: 10px;
}

@media all and (max-width:768px){
    .wrapper{
        width: 95%;
        padding: 0px;
    }
}