<div class="edit-form mt-3" *ngIf="student">
    <div *ngIf="student" class="w-50">
        <div class="w-100 align">
            <img src="../../assets/images/dues.jpg" alt="edit dues" />
        </div>
        <div>
            <label>Roll-Number</label><br>
            <input type="number" [(ngModel)]="student.roll" disabled title="disabled" />
        </div>
        <div>
            <label>Reg-Number</label><br>
            <input type="number" [(ngModel)]="student.reg" disabled title="disabled" />
        </div>
        <div>
            <label>Name</label><br>
            <input type="text" [(ngModel)]="student.name" disabled title="disabled" />
        </div>
        <div>
            <label>Dues</label><br>
            <input type="number" [(ngModel)]="student.dues" />
        </div>
        <div>
            <button class="btn btn-success" (click)="save()">Update</button>
        </div>
    </div>
</div>

<div class="loader m-auto mt-5 bg-white p-5" *ngIf="!student">

</div>